@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white overflow-hidden;
  }
}

@layer utilities {
  .neon-text-blue {
    text-shadow: 0 0 5px #00f0ff,
                 0 0 10px #00f0ff,
                 0 0 20px #00f0ff,
                 0 0 40px #00f0ff;
  }

  .neon-text-pink {
    text-shadow: 0 0 5px #ff00ff,
                 0 0 10px #ff00ff,
                 0 0 20px #ff00ff,
                 0 0 40px #ff00ff;
  }

  .neon-text-purple {
    text-shadow: 0 0 5px #9d00ff,
                 0 0 10px #9d00ff,
                 0 0 20px #9d00ff,
                 0 0 40px #9d00ff;
  }

  .neon-text-green {
    text-shadow: 0 0 5px #00ff41,
                 0 0 10px #00ff41,
                 0 0 20px #00ff41,
                 0 0 40px #00ff41;
  }
}
